<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("help.title"), "/book_review/help" %></li>
      <li><%= link_to t("about.title"), "/book_review/about" %></li>
      <li><%= link_to t("contact.title"), "/book_review/contact" %></li>
      <li><p>© <%= Date.today.year %> Book Review.</p></li>
    </ul>
  </nav>
</footer>
